* {
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #c4c4c4;
}
body {
    background-color: #463d3d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bodyArea {
    width: 100%;

}
header {
    background-color: #4c4040;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul li{
    list-style: none;
    padding: 15px;
}
nav ul li a {
    text-decoration: none;
}
nav ul li a h2 {
    font-size: 16px;
    color: #d9d9d9;
    border-bottom: 1px solid #463d3d;
    padding-bottom: 20px;
}
@keyframes borderNav {
    0% {
        border-bottom: 1px solid #463d3d;
      }
    100% {
        border-bottom: 1px solid #71d3b7 ;
      }
}
@keyframes h1Header {
    0% {
        background-color:#463d3d;
      }
      50% {
        background-color: #c4c4c4;
      }
    100% {
        background-color:#463d3d ;
      }
}
nav ul li a h2:hover{
    color: #519582;
    animation: borderNav 1.5s infinite;
}
h1 {
    display: flex;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h2 {
    color: #6e6e6e;
    font-size: 30px;
}
.h1Header {
    height: 50px;
    width:5px;
    animation: h1Header 0.5s infinite;
}
.imgHeaderArea {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    display:flex;
}
.imgHeader {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: white;
}
@keyframes frente-tras {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
}
.setaBaixoArea {
    margin-top: 25px;
}
.setaBaixo {
    position:relative;
    animation: frente-tras 2s infinite;
}
.setaBaixo img{
    width: 30px;
    opacity: 30%;
}


/*FOOTER*/
footer {
    background-color: #2f2828;
    height: 120px;
}
footer nav ul li a img {
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer nav ul li a img {
    height: 50px;
    width: 50px;
    background-color: white;
}

footer nav ul li a h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    font-size: 25px;
}
footer h2 {
    color: #ffff;
}
/* ASIDE PROFILE*/
aside {
    display: flex;
    justify-content: center;
    align-items: center;
}
aside .myProfileArea {
    width: 768px;
}
.contentArea {
    display: flex;
    justify-content: center;
}
.contentArea img{
    position: absolute;
    margin-top: 20px;

    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 75px;
}
.designImg {
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-color: #393131;
    border-radius: 75px;
}
.contentAreaImg {
    display: flex;
    width: 120px;
    height: 120px;
}
aside .geral h2 {
    color: #ffff;
    margin-top: 30px;
    margin-bottom: 30px;
}
h4 {
    margin-left: 15px;
    color: #6e6e6e;
    width: 350px;
    text-align: initial;
}
.listaColuna {
    width: 600px;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 50px;
    display: flex;
}
.flex1 {
    flex: 1;
}
.listaColuna nav ul {
    display: block;

}
.listaColuna h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #9f9f9f;
    text-align: start;
}
.listaColuna h3 {
    margin-bottom: 15px;
    color: #8f8f8f;
    text-align: start;
}
.listaColuna nav ul li {
    padding: 0;
    text-align: start;
    margin-bottom: 5px;
    color: #8f8f8f;
}
.listaColuna nav ul li h3 {
    margin: 0;
    padding: 0;
    color: #9f9f9f;
}
.listaColuna nav ul li i {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #8f8f8f;
}
.outros {
    display: flex;
    justify-content: center;
}

/* PROJETOS */

.slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }

.projectArea {
    width: 100%;
    background-color: #393131;
    padding-bottom: 50px;
}
.projectArea h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.projectArea h2 {
    font-size: 20px;
}
.projectArea i {
    color: #6e6e6e;
    font-size: 18px;
}
button {
    position: absolute;
    bottom: calc((100vh)+ 120px);
    transform: translateY(-50%);
    background: #222;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  #prev {
    left: 10px;
  }
  
  #next {
    right: 10px;
  }
#espaco {
    margin-top: 50px;
}
#lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#lista .item { 
    margin-left: 50px;
    margin-right: 50px;
    width: 350px;
}
#lista .item img {
    height: 150px;
}
.myProfileAreaMob {
    display: none;
}
.slide img {
    max-width: 450px;
    width: 100%;
}
.footer nav ul li:hover {
    box-shadow: 1px 1px 1px #222;
}
/* MOBILE*/
@media (max-width: 610px) {
    .myProfile {
        display: none;
    }
    .myProfileAreaMob {
        display: block;
    }
    .geral {
        display: block;
    }
    .contentArea {
        display: block;
    }
    .listaColuna {
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .flex1 {
        width: 100%;
        flex: none;
    }
    .geral h4 {
        width: 100%;
    }
    .designImg {
        margin-left: calc(50% - 100px);  
    }
    .contentArea img {
        margin-left: calc(50% - 100px);
    }
    .listaColuna nav ul li {
        font-size: 12px;
    }
    .designImg {
        display: none;
    }
    .listaColuna nav ul {
        display: flex;
        flex-direction: column;
    }
    .listaColuna nav ul li {
        text-align: center;
    }
    .flex1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .listaColuna h3 {
        text-align: center;
    }
}